@import "components/Modal/Modal";
@import "components/UI/Button/Button";
@import "components/UI/CloseButton/CloseButton";


.btn {
	display: flex;
	align-items: center;
	margin: 0 auto;
	justify-content: space-between;
	padding: 120px;
	width: 380px;
}

