
.modal {
    position: fixed;
    width: 380px;
    height: 200px;
    z-index: 1000;
    border-radius: 5px;
    overflow: hidden;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  padding: 10px;

&--success {
     background-color: #268E00;
 }

&--delete {
     background-color: #e94b35;
 }

  .modal-content {
    font-weight: bold;
  }


&-header-pos {
     display: flex;
     justify-content: space-between;
     align-items: center;
     padding: 10px;
     background-color: rgba(0,0,0, .2);
     font-weight: bold;
     font-size: 18px;
 }

&-footer {
     display: flex;
     padding: 12px;
     align-items: center;
     justify-content: space-between;
 }
}

.pos {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 50;
  background-color: #FFE773;
}
