body {
    background-color: #B9B9B9;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

button {
    margin: 50px 0;
    background-color: cadetblue;
    color: white;
    font-weight: bold;
    padding: 5px 7px;
}