body {
    background-color: antiquewhite;

}

.box {
margin-top: 50px;
    /*width: 1000px;*/
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    border: 1px solid black;
    justify-content: flex-start;
}


.taskbox{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.card {
    margin: 20px ;
    align-items: center;
    width: 250px;
    background-color: grey;
    display: flex;
    justify-content: center;
    border: 2px solid black;
    height: 100%;
    flex-wrap: wrap;
}

.titel {
    padding: 7px;
    font-size: 16px;
    font-weight: 600;
    color: black;
    background-color: darkgrey;
    border: none;
    text-align: center;
}

.fieldBox {
 background-color: #4E4E4E;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px dashed gray;
    border-top: 1px dashed gray;
    margin-top: 10px;
    width: 80%;
}

.sort {
    margin-left: 20px;
    /*width: 20px;*/
    height: 30px;
    color: white;
    background-color: darkblue;
    padding: 5px;
    text-align: center;
    font-size: 10px;
}

input {
    width: 80%;
    margin: 10px 0;
}

button {
    padding: 10px 20px;
    color: white;
    background-color: black;
}

.addBtn {
    margin: 10px;
    width: 45%;
    height: 30px;
    background-color: #45B0E3;
    color: white;
    padding: 5px;
    text-align: center;
    font-size: 10px;
}


.selected {
    transform: scale(1.1);
    background-color: #39599F;
    opacity: 0.6;
}


