body {
    background-color: #39599F;
    display: flex;
    justify-content: center;
    align-items: center;
}


.box {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 400px;
    background-color: white;
    border: 2px solid black;
}


span {
    margin: 40px;
    color: white;
    font-size: 30px;
    font-weight: 600;
}


table {
    width: 100%;
    height: 100%;
}

td {
    border: 1px solid red;
}


button {
    margin: 50px;
    background: green;
    color: white;
}


.try {
    background-color: #45B0E3;
}

.enemywin {
    background-color: orangered;
}

.mywin {
    background-color: lightgreen;
}