@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');

* {
    box-sizing: border-box;
}


body {
    background-color: rgb(21, 22, 22);;
}

.header {
    display: flex;
    background: rgb(21, 22, 22);
    justify-content: space-between;
    font-family: Montserrat;
}

.main {
    font-family: Montserrat;
}

.logo {
    margin-left: 12px;
    max-width: 100%;
}

.hidden-class {
    display: none;
}

.hamburger-line {
    position: relative;
    display: inline-block;
    width: 25px;
    height: 2px;
    background: #F38A03;
}

.hamburger-line::after, .hamburger-line::before {
    position: absolute;
    display: inline-block;
    content: '';
    width: 25px;
    height: 2px;
    background: #F38A03;
}

.hamburger-line::after {
    left: 0;
    top: -10px;
}

.hamburger-line::before {
    left: 0;
    bottom: -10px;
}

.hamburger {
    border: none;
    background: transparent;
    padding: 25px 25px;
}

.nav-bar {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    background-color: white;
    opacity: 1;
    border-left: 1px solid rgba(0, 0, 0, .3);
    box-shadow: 3px 0 5px rgba(0, 0, 0, .3);
    padding: 10px;
}


.navigation li {
    font-weight: 500;
    font-size: 20px;
    color: black;
}

.navigation li a {
    text-decoration: none;
    font-weight: 500;
    font-size: 20px;
    color: black;
}

.top-section {
    background-image: url("images/9.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 89% 0;
    height: 460px;
    width: 100%;
    object-fit: contain;
}

.site-title {
    display: inline-block;
    background-color: black;
    padding: 41px 31px;
    margin-left: 12px;
    margin-top: 37px;
    text-transform: uppercase;
    color: white;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 30px;
}

.site-link {
    display: inline-block;
    color: white;
    background-color: black;
    padding: 7px 32px;
    font-size: 16px;
    margin-left: 75px;
    margin-top: 15px;
}

.decoration {
    background: #ED1260;
    height: 64px;
    width: 265px;
}

.wrapper {
    margin: 0 auto;
}

.wrapper-content {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.description p {
    font-style: normal;
    font-weight: normal;
    line-height: 20px;
    color: white;
    font-size: 16px;
    text-align: left;

}

.description {
    width: 265px;
}

.options {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 38px;
}

.options-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 40px;
    width: 311px;
}

.card p {
    font-size: 14px;
    text-align: center;
    color: white;
    padding: 13px 0px 20px 0px;
}

.card img {
    text-align: center;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}

.map {
    position: relative;
    margin: 15px;
    border: 5px solid #ED1260;
}

.map img {
    width: 100%;
    padding: 15px;
}

.map i {
    color: #ED1260;
    position: absolute;
    top: 25%;
    left: 52%;
}

.map-adress {
    font-size: 12px;
    line-height: 15px;
    padding: 7px;
    color: white;
    text-align: center;
}

.contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 5px solid #F38A03;
    margin-top: 63px;
}

.contacts-box {
    width: 216px;
}

.contacts h2 {
    text-transform: uppercase;
    color: white;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    margin-top: 26px;
    margin-bottom: 22px;

}

.icon {
    display: flex;
    align-items: center;
}

.contacts-card {
    display: flex;
    justify-content: space-between;
    margin-bottom: 22px;
}

.contacts-card div {
    font-size: 18px;
    color: white;
    line-height: 22px;
    /*display: flex;*/
    align-items: center;
    width: 160px;
}

.contacts-card i {
    color: #F38A03;
    font-size: 18px;
    /*margin-top: 21px;*/
}

.hidden {
    display: none;
}


@media (min-width: 768px) {

    .hidden-class {
        display: unset;
    }

    .close {
        display: none;
    }

    .hamburger {
        display: none;
    }

    .navigation {
        display: flex;
        justify-content: space-between;
    }


    .nav-bar {
        position: unset;
        transform: unset;
        box-shadow: unset;
        border: unset;
        background: transparent;
        height: unset;
        width: 60%;
    }

    .navigation li a {
        color: white;
    }

    .navigation li {
        color: white;
    }

    .options {
        width: 100%;
    }

    .options-card {
        width: 80%;
    }

    .description {
        width: 80%;
    }

    .card {
        width: 33%;
    }

    .nav-bar li:last-child {
        display: block;
        margin-right: 81px;

    }

    .wrapper {
        width: 768px;
    }

    .map i {
        top: 29%;
    }

    .contacts-box {
        display: flex;
        width: 100%;
        justify-content: space-between;
    }

    .contacts h2 {
        text-transform: uppercase;
        color: white;
        font-weight: 500;
        font-size: 45px;
        line-height: 55px;
        margin-bottom: 81px;


    }

    .contacts {
        display: block;
        border: unset;

    }

    .contacts-card {
        justify-content: unset;
        flex-direction: column;
    }

    .contacts-card div {
        display: flex;
        flex-direction: column;
        margin-top: 10px;
        width: unset;

    }

    .contacts-info {
        width: 232px;
        flex-direction: column;
        align-items: center;
        margin-top: 9px;
    }

    .contacts-info div {
        padding-bottom: 8px;
    }

    .icon {
        margin-bottom: 19px;
        align-items: center;
    }

    .icon i {
        font-size: 30px;

    }

    .hidden {
        display: unset;
        align-self: center;
    }

}


@media (min-width: 1280px) {


    .logo {
        margin-top: 9px;
        margin-left: 58px;
        width: 89px;
        height: 61px;
    }

    .nav-bar {
        margin-right: 16px;
    }

    .close {
        display: none;
    }

    .wrapper {
        width: 1064px;
    }

    .wrapper-content {
        flex-direction: unset;
        align-items: unset;
    }


    .decoration {
        width: 64px;
        height: 265px;
        margin-left: -8px;
    }

    .description {
        width: unset;
    }

    .description p {
        font-size: 25px;
        line-height: 30px;
    }

    .options-card {
        width: 100%;
    }

    .card {
        width: 33%;
        margin-top: 90px;
    }

    .card p {
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 22px;
        padding: 10px 55px;
    }

    .map {
        width: 579px;
        margin: 0 auto;
        border: 5px solid #ED1260;
        margin-top: 120px;
    }

    .map-adress {
        font-size: 22px;
        color: white;
        line-height: 27px;
    }

    .map i {
        top: 27%;
    }

    .contacts {
        display: block;
        border: unset;

    }

    .contacts-box {
        display: flex;
        width: 100%;
        justify-content: space-between;
    }

    .contacts h2 {
        text-transform: uppercase;
        color: white;
        font-weight: 500;
        font-size: 45px;
        line-height: 55px;
        margin-bottom: 81px;


    }

    .contacts-card {
        justify-content: unset;
        flex-direction: column;
    }

    .contacts-card div {
        display: flex;
        flex-direction: column;
        margin-top: 10px;
        width: unset;

    }

    .contacts-info {
        width: 232px;
        flex-direction: column;
        align-items: center;
        margin-top: 9px;
    }

    .contacts-info div {
        padding-bottom: 8px;
    }

    .icon {
        margin-bottom: 19px;
        align-items: center;
    }

    .icon i {
        font-size: 30px;

    }

    .hidden {
        display: unset;
        align-self: center;
    }


}