body {
    display: flex;
    justify-content: center;
    align-items: center;
    /*display: flex;*/
    flex-direction: column;
}


#posts {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}


.postContainer {
    width: 800px;
    display: flex;
    height: 200px;
    background-color: lightgray;
    position: relative;
    flex-direction: column;
    margin: 30px 0;
    align-items: center;
}


.box {
    display: flex;
    flex-direction: row;
    position: absolute;
    left: 20px;
    margin-top: 15px;
}

.box span {
    margin-right: 7px;
}

.box span:last-child {
    color: #45B0E3;
    text-decoration: underline;
    font-size: 16px;
    font-weight: bold;

}


.delete {
    width: 65px;
    height: 20px;
    padding: 2px;
    text-align: center;
    margin: 5px;
    position: absolute;
    right: 0;
}

.edit {
    padding: 2px;
    text-align: center;
    margin: 5px;
    position: absolute;
    right: 80px;
    height: 20px;
}

h2 {
    color: blue;
    text-align: center;
    margin-top: 50px;
}


.postBody {
    margin: 0 30px;
    text-align: center;
}


.hidden {
    display: none!important;
}


textarea {
    width: 80%;
    margin: 20px;
}

.modalBox {
    width: 300px;
    background-color: blue;
    height: 200px;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
}

#create {
    background-color: green;
    padding: 5px 15px;
    font-size: 16px;
    color: white;
    border-radius: 13px;
}