@mixin reset-style (){
  text-decoration: none;
  list-style: none;
}

@mixin icons () {
  padding: 12px;
  border: 2px solid;
  border-radius: 50%;
  margin-right: 5px;
  font-size: 14px;
}

@mixin flexcolumn (){
  display: flex;
  flex-direction: column;
}

@mixin margin () {
  margin-right: 0;
  margin-left: 0;
}

@mixin textfont ($fontfamily, $fontsize) {
  font-size: $fontsize;
  font-family: $fontfamily;
}