@import "mixins";
@import "var";


.footer {
  background: $dark;
  margin-top: 42px;

  .footer-name {
    @include textfont ($fontfamily, $fontsize);
    font-weight: bold;
    line-height: 22px;
    color: #FEFEFE;
    text-transform: uppercase;
    text-align: center;
    padding: 38px 0 8px 0;
  }

  .footer-text {
    @include textfont ($fontfamily, 12px);
    line-height: 20px;
    color: #B9B9B9;
    text-align: center;
    .hidden-text {
      display: none;
    }
    @media screen and (min-width: 768px) {
      .hidden-text {
        display: unset;
      }
    }



    @media screen and (min-width: 1200px) {
      width: 50%;
      .hidden-text {
        display: unset;
      }
    }
  }

  .footer-social-media {
    margin-top: 26px;
    display: flex;
    justify-content: center;

    a {
      text-decoration: none;
      margin-left: 0;
      margin-right: 0;
    }

  }

  .rss {
    @include icons;
    color: #F8902E;
    border-color: #F8902E;
  }

  .facebook {
    @include icons;
    color: #39599F;
    border-color: #39599F;
  }

  .twitter {
    @include icons;
    color: #45B0E3;
    border-color: #45B0E3;
  }

  .dribbble {
    @include icons;
    color: #D97AB0;
    border-color: #D97AB0;
  }

  .printerest {
    @include icons;
    color: #CC212C;
    border-color: #CC212C;
  }

  .footer-contacts {
    @include textfont ($fontfamily, $fontsize);
    line-height: 24px;
    color: #B9B9B9;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 47px;
    display: flex;
    flex-direction: column;

    @media screen and (min-width: 1200px) {
      flex: unset;
      flex-direction: unset;
      justify-content: center;
     span {
       margin-right: 10px;
       margin-left: 0;
     }
    }

  }
}
