@import "mixins";
@import "var";

.hamburger-wrapper {
  position: relative;
  width: 44px;
  height: 37px;
  margin-top: 23px;
  background: black;
  padding: 18px 14px;
  @media screen and (min-width: 768px) {
    display: none;
  }

}

.hamburger {
  position: absolute;
  top: -3px;
  left: -3px;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  cursor: pointer;

  :checked {
    + .line {
      background: transparent;

      &:after {
        transform: rotate(45deg) translate(-4px, -3px);
      }

      &:before {
        transform: rotate(-45deg) translate(-4px, 3px);
      }
    }
  }

}


.line {
  position: absolute;
  width: 17px;
  height: 2px;
  background: $background-color;
  text-align: center;

  &:before, &:after {
    content: "";
    position: absolute;
    width: 17px;
    height: 2px;
    background: $background-color;
    top: -5px;
    transition: 0.3s;
    left: 0%
  }

  &:after {
    top: 5px;
  }
}


.header-nav-bar {
  position: absolute;
  top: 58px;
  margin-right: 23px;
  width: 50%;
  @media screen and (min-width: 768px) {
    position: unset;
    width: 100%;
    margin-right: unset;
  }



  .header-navigation {
    @include reset-style;
    background: #F5F5F5;
    @media screen and (min-width: 768px) {
      display: flex;
      justify-content: center;
      background: $background-color;
      padding: 41px 25px 20px 25px;

    }

  }

  .navigation-list-link {
    background-color: $background-color;
    margin: 2px 0;
    &:hover {
      background: #F5F5F5;
      position: relative;
      left: -3px;
    }
  }
  .navigation-list-link {
    display: block;
    width: 100%;
    padding: 8px 12px;
    @include textfont ($fontfamily, 11px);
    color: #4E4E4E;
    text-decoration: none;
    text-transform: uppercase;
    line-height: 15px;
    letter-spacing: 1.1px;
  }


}



