@import "mixins";
@import "var";
@import "headermenu";
@import "footer";


* {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
}

.header {
  @include flexcolumn;
  align-items: flex-end;


  .hamburger-wrapper {
    margin-right: 28px;
  }
}

.hidden-class {
  display: none;
  @media screen and (min-width: 768px) {
    display: unset;
  }

}

.top-contant-image {
  background-image: url("../img/intro-img1.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 150px;
  margin-top: 23px;
  @media screen and (min-width: 768px) {
    height: 361px;
  }
  @media screen and (min-width: 1200px) {
    height: 550px;
  }

}

.container {
  margin: 0 auto;
  width: 295px;

  @media screen and (min-width: 768px) {
    width: 598px;
    margin: 0 auto;
  }
  @media screen and (min-width: 1200px) {
    width: 1200px;
    margin: 0 auto;
  }
}


.container-posts {
  margin-top: 36px;

  .posts-titel {
    @include textfont ($fontfamily, $fontsize);
    font-weight: bold;
    line-height: 22px;
    color: #4E4E4E;
    text-transform: uppercase;

    @media screen and (min-width: 1200px) {
      margin-left: 85px;
    }
  }

}


.posts-titel {
  @include textfont ($fontfamily, $fontsize);
  font-weight: bold;
  line-height: 22px;
  color: #4E4E4E;
  text-transform: uppercase;
  @media screen and (min-width: 1200px) {
    margin-left: 85px;
  }

}

.blocks {
  width: 100%;
  @media screen and (min-width: 1200px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

  }

  .blocks-card {
    @include flexcolumn;
    margin-top: 24px;

    img {
      width: 160px;
     @include margin;
    }

    .bocks-name, a {
      @include textfont ($fontfamily, 11px);
      line-height: 20px;
      color: #7C7C7C;
      text-decoration: none;
      font-weight: normal;

    }

    @media screen and (min-width: 768px) {
      flex-direction: row;
    }
    @media screen and (min-width: 1200px) {
      width: 40%;
      flex-direction: row;
    }
  }

  .bocks-title {
    @include textfont ($fontfamily, $fontsize);
    font-weight: bold;
    line-height: 30px;
    color: #4E4E4E;
    padding: 11px 0 0 0;


  }

  .bocks-contant {
    @include textfont ($fontfamily, $fontsize);
    line-height: 26px;
    color: #5C5C5C;
    display: none;
    @media screen and (min-width: 600px) {
      display: block;
    }

  }

  .boks-text {
    @include margin;
    @media screen and (min-width: 768px) {
      margin-left: 21px;
    }
  }


}

.hidden-block {
  display: none!important;
  @media screen and (min-width: 768px) {
    display: flex!important;
  }
}




